body {
  background-color: rgb(198, 222, 230);
}

#album {
  margin-left: 6vw;
  width: 85vw;
}

#pack {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 1em;
  width: 98vw;
}

tr {
  border-width: 5px;
}

td {
  border-width: 5px;
}
#packInfo {
  text-align: center;
}
